.pagination {
  display: flex;
  position: absolute;
  bottom: 0;

  .numbers {
    display: flex;
  }
  .number {
    border-radius: 50%;
    border: 1.5px solid black;
    outline: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: black;
    margin: 0 0.5rem;
    padding: 0.3rem;
    background: transparent;
  }
}
