.searchContainer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;

  .searchWapper {
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 5rem;
      font-weight: bold;
      margin: 10px;
      color: #38424a;
    }

    .form {
      max-width: 584px;
      width: calc(100%);
      min-width: 300px;
      position: relative;
      height: 3rem;
    }
    .searchForm {
      position: absolute;
      border: 2px solid #5f6368;
      border-radius: 24px;
      padding: 10px 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: #d8dae7;
        box-shadow: 1px 1px 5px #5f6368;
        border: 2px solid #d8dae7;
      }

      .search {
        display: flex;

        .searchImg {
          width: 20px;
          height: auto;
          margin: 0 10px;
          filter: invert(47%) sepia(0%) saturate(4066%) hue-rotate(260deg)
            brightness(75%) contrast(75%);
        }

        .input {
          border: none;
          font-size: 1.2rem;
          outline: none;
          flex: 1 1;
          background-color: transparent;
        }
      }

      .more {
        overflow-y: scroll;
        .season {
          .seasonBtn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .searchContainer {
    align-items: flex-start;

    .searchWapper {
      margin-top: 10rem;
    }
  }
}

@media (max-width: 650px) {
  .searchContainer {
    .searchWapper {
      margin-top: 5rem;
    }
  }
}
