.searchContainer {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;

  .searchWapper {
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 20%;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 5rem;
      font-weight: bold;

      color: #38424a;

      .logo {
        width: 20rem;
      }

      span {
        position: relative;
        top: 10px;
        font-size: 0.9rem;
      }
    }

    .form {
      max-width: 584px;
      width: calc(100%);
      min-width: 300px;
      position: relative;
      top: 50px;
      height: 100%;
    }
    .searchForm {
      position: absolute;
      border: 2px solid #5f6368;
      width: 100%;
      display: flex;
      flex-direction: column;

      .search {
        display: flex;
        height: 3rem;

        .searchImg {
          width: 20px;
          height: auto;
        }

        .input {
          border: none;
          padding: 0 10px;
          font-size: 1.2rem;
          outline: none;
          flex: 1 1;
          background-color: transparent;
          height: 100%;
        }

        .btn {
          height: 100%;
          width: 5rem;
          border: none;
          background-color: #52616b;
          color: #f0f5f9;
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .more {
        overflow-y: scroll;
        .season {
          .seasonBtn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .searchContainer {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .searchContainer {
    .searchWapper {
      .title {
        .logo {
          width: 15rem;
        }
      }
    }
  }
}
