.playerContainer {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  .graph {
    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .select {
      width: 10rem;
    }
  }
}
