.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  font-size: 0.6rem;
  padding: 3rem;

  .graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .select {
      width: 90%;
    }
  }
}

@media (max-width: 650px) {
  .playerContainer {
    width: 100%;
    padding: 3rem 0;

    .graph {
      min-width: 15rem;
      width: 90%;

      .select {
        width: 90%;
        height: 2rem;
      }
    }
  }
}
