.tableContainer {
  border-collapse: collapse;
  width: 20rem;
  height: auto;

  th,
  td {
    border: 1px solid black;
    height: 3rem;
  }

  tbody {
    td {
      text-align: center;

      &:not(:last-of-type) {
        background-color: #277bc0;
      }

      span {
        &:first-child {
          font-weight: bold;
        }
        &:last-child {
          color: gray;
          font-size: 0.8rem;
        }
      }
    }
  }
}
