.tableContainer {
  border-collapse: collapse;
  width: 20rem;
  height: auto;

  th {
    border-top: 2px solid black;
    height: 3rem;
  }

  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 3rem;
  }

  tbody {
    td {
      text-align: center;

      &:not(:last-of-type) {
        background-color: #52616b;
        color: white;
      }

      span {
        &:first-child {
          font-weight: bold;
        }
        &:last-child {
          color: gray;
          font-size: 0.8rem;
        }
      }
    }
  }

  .rating {
    border-radius: 5px;
  }
}

@media (max-width: 1000px) {
  .tableContainer {
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .tableContainer {
    width: 100%;
  }
}
