.rankContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 90%;
  justify-content: space-between;

  .playerRanks {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
}

@media (max-width: 650px) {
  .rankContainer {
    .playerRanks {
      margin-bottom: 1rem;
    }
  }
}
