.container {
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  width: 100%;
  transition: height 0.5s;
  height: 3rem;

  .searchbar {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;

    .searchForm {
      display: flex;
      align-items: center;
      width: 100%;
      height: 4rem;
      border: 2px solid #52616b;

      .input {
        padding: 0 10px;
        border: none;
        background-color: transparent;
        outline: none;
        height: 100%;
        color: #3f3f3f;
        flex: 1;
        font-size: 1rem;
        background-color: #f0f5f9;
      }

      .button {
        border: none;
        background-color: #52616b;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 100%;
        color: #f0f5f9;
        font-size: 1rem;
      }
    }
    .more {
      background-color: #f0f5f9;
      border: 2px solid #52616b;
      padding: 10px;
      max-width: 35rem;
      width: 100%;
      min-width: 15rem;
      overflow-y: scroll;
      height: 100%;

      .moreTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .season {
        .seasonBtn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          width: 45px;
          height: 35px;
          margin: 3px;
        }
      }

      .moreP {
        display: flex;
        flex-direction: column;

        .part {
          display: flex;
          align-items: center;
          padding: 10px;

          span {
            font-weight: bold;
            margin-right: 10px;
          }
          .desc {
            display: flex;
            flex-wrap: wrap;
            .item {
              padding: 10px;
              border: 1px solid gray;
              border-radius: 5px;
              background-color: transparent;
              cursor: pointer;
              margin-right: 2px;
              width: 3rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .container {
    margin: 0;
    .more {
      width: 100%;
    }
  }
}
