.thumbContainer {
  display: flex;
  margin: 0.2rem 0;
  border-radius: 5px;
  border: 1px solid #999999;
  background-color: transparent;

  &:hover {
    background-color: #f0f5f9;
  }

  .thumb {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25rem;
    transition: transform 200ms ease-in;
    cursor: pointer;
    border: none;
    background-color: transparent;

    .main {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      .info {
        display: flex;
        align-items: center;

        .seasonImg {
          width: 1.1rem;
          height: 0.8rem;
          margin-right: 10px;
        }
        .name {
          font-size: 1rem;
          color: #52616b;
        }
        .detail {
          position: relative;
          left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #00adb5;
          padding: 0 5px;
          font-size: 0.8rem;
          color: #f7f5f2;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          width: 2rem;
          height: 2rem;
        }
      }
      .btn {
        position: relative;
        width: 1.5em;
        height: 1.5em;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      .season {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .more {
        display: flex;
        width: 25%;
        justify-content: space-between;

        .ovr {
          color: #52616b;
          width: 30px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .thumbContainer {
    width: 100%;
    .thumb {
      width: 100%;
    }

    .detail {
      width: 4rem;
    }
  }
}
