.mobileNoticeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .noticeImg {
    width: 30%;
    height: 30%;
  }

  strong {
    margin: 0 0 1rem 0;
  }

  span {
    font-size: 0.7rem;
    color: rgba(154, 204, 253, 0.6);
  }

  .btn {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 5%;
    border-radius: 30px;
    color: rgb(71, 135, 200);
    background-color: rgb(224, 239, 255);
  }
}
