.navContainer {
  background-color: #4b5d67;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;

  button {
    background-color: transparent;
    border: none;
    color: #bdf2d5;
    font-weight: bold;
    width: 10rem;
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .navContainer {
    height: 3rem;
  }
}
