.navContainer {
  background-color: #4b5d67;
  height: 47px;
  display: flex;
  padding: 1rem;
  justify-content: center;
  position: sticky;

  button {
    background-color: transparent;
    border: none;
    color: #bdf2d5;
    font-weight: bold;
    width: 10rem;
    cursor: pointer;
  }
}
