.navContainer {
    background-color: #4B5D67;
    height: 3rem;
    display: flex;
    padding: 1rem;
    justify-content: center;

    button {
        background-color: transparent;
        border: none;
        color: #BDF2D5;
        font-weight: bold;
        width: 10rem;
        cursor: pointer;
    }
}