.test {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 50rem;
    height: 30rem;
    border: black solid 1px;
    display: flex;

    .standard {
      width: 100px;
      position: relative;

      .border {
        width: 100%;
      }

      .image {
        position: absolute;
      }

      .ovr {
        position: absolute;

        color: white;
        font-weight: bold;
      }

      .nation {
        position: absolute;
      }

      .position {
        position: absolute;

        color: white;
      }

      .seasonImg {
        position: absolute;
      }

      .nameWrapper {
        position: absolute;
        display: flex;
        justify-content: center;

        .name {
          color: black;
          position: absolute;
          font-weight: bold;
        }
      }
    }
  }
}
